/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  background-color: #0A2454;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(225,960,440)'%3E%3Cstop offset='0' stop-color='%230A2454'/%3E%3Cstop offset='1' stop-color='%230A2454'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

    color: #f3f3f3;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}


::-moz-selection {
    background: #5692ff;
    text-shadow: none;
}

::selection {
    background: #5692ff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #32357c;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
  color: #fff;
  margin: 0 0 0.25rem 0
}

h1 { font-size: 3.052rem;}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small {font-size: 0.8rem;}

p, li, form {
  font-size: 1.1rem;
  margin: 0 0 0.75rem 0;
}

a { color: #ffcf6d; font-weight: bold;}
a:hover { text-decoration: none}
a:active { }
/* a:visited { color: #999ab1;} */


dt, dd {
  padding: 0;
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.75em;
}

s {
  text-decoration: line-through;
}
/*Form */

.form-group {
  display: block;
  margin-bottom: 0.5em;
}

.form-group:last-child {
  margin-bottom: 0
}

.form-group label, .form-group input, .form-group textarea, .form-group select {
  display: block;
}

label {
   display: block;
}

input {
    font-weight: 400;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    height: 2.3rem;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   margin-right: 10px;
}

.button {
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 22px;
    padding: 8px 10px 7px;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #830321;
    box-shadow: 0 2px 0 #520618;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
}

/* ==========================================================================
   Custom Classes
   ========================================================================== */

/* STRUCTURE*/

.header {
/*    border-bottom:  5px solid #830321; */
  border-bottom: 8px solid rgba(255,255,255,0.15);
   background: url('../img/bg-science.png') top left repeat #a52b2b;
   padding: 1em;
   text-align: center;
   color: #fff;
}

  .header a {
    color: #fff;
  }

.main {

}

footer {
   border-top: 1px solid #eee;
  padding: 1em;
   font-size: 0.8em;
}

/*sets max width and padding*/


.grid-wrapper {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-row {
  display: block;

}

.grid-row:after {
  content: "";
  clear: both;
  display: block;
}

.grid-column-full,
.grid-column-two-thirds,
.grid-column-one-third {
  box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

@media screen and (min-width:700px) {

  html {font-size: 18px}

  .grid-wrapper {
    margin: 0 auto;
    max-width: 800px
  }

  .grid-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .grid-column-full {
      width: 100%;
  }

  .grid-column-two-thirds {
    width: 66.6666%;
    float: left;
  }

  .grid-column-one-third {
    width: 33.3333%;
    float: left;
  }


}

/*Components*/

.logo {
   line-height: 1;
}

.logo-subtitle {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
}

.nav {

  text-transform: uppercase;
}

.nav a {
  color: #ffcf6d;
  font-family: 'Roboto slab', sans-serif;
  font-weight: 400;
  padding: 0.25em;
  display: inline-block;

}

.nav a.active {
  font-weight: 900;
  text-decoration: none;
}

@media screen and (min-width:700px) {
  .logo,
  .logo-subtitle {
    text-align: left;
  }
  .nav {
    text-align: right;
    margin-top: 2em;
  }

  .nav a {
      font-size: 1.1em;
      padding: 0.5em;
  }

    .nav li:last-child a {
      padding-right: 0;
    }
}

/*Text components*/
.text_small {font-size: 0.8rem;}

.heading-xl {font-size: 3.852rem}

.heading-l {font-size: 2.441rem}

.heading-m {font-size: 1.953rem}

.heading-s {font-size: 1.25rem;}

.lede {
  font-size: 1.8em;
  line-height: 1.2;
  font-weight: bold;
}

.list {
  list-style: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}

.list--hz {

}

  .list--hz li {
    list-style: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

.article-list {

}

.article-list__item {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px dashed #ddd;
}

.article-list__meta {
  color: #c3c3c3;
  font-size: 0.9em;
}

.aside {
  border-top: 1px solid #fff;
  padding: 1em 0;
}

/*Blocks*/

.block {
  display: block;
  /* padding: 1em; */
}

.block:after {
  content: "";
  display: table;
  clear: both;
}

.block--banner {
   border: 5px solid #ffcf6d;
   padding: 1em;
   margin: 1em 0;
   position: relative;
   z-index: 20;
   box-shadow: 6px 6px 0px rgba(0,0,0,0.3);
}

.block--banner:after {
  /* position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px solid #681717;
  left: 5px;
  top: 5px;
  z-index: 10; */
}

.block--blog {

}

.block__header {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  padding-left: 0.75em;
}

.block__header:after {
  position: absolute;
  height: 100%;
  width: 8px;
  content: "";
  background-color: rgba(255,255,255,0.75);
  left: 0;
  top: 0;
}

.block--newsletter {
   border: 2px solid #fff;
   display: block;
/*    background-color: #a52b2b; */
   font-size: 0.8em;
   padding: 1em;
   margin: 1em 0;
}

@media screen and (min-width:700px) {
  .block {
    text-align: left;
  }

  .block__img--r {
    margin: 0 0 1em 1em;
    float: right;

  }

   .block__img--r img {
    height: auto;
    max-width: 100%;
    object-fit: contain;

  }

}



/*ICONS*/
.gg-bolt {
box-sizing: border-box;
position: relative;
display: block;
transform: scale(var(--ggs,1));
width: 6px;
height: 21px
}

.gg-bolt::after,
.gg-bolt::before {
content: "";
display: block;
box-sizing: border-box;
position: absolute;
width: 0;
height: 0;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
transform: rotate(30deg)
}

.gg-bolt::before {
border-bottom: 12px solid;
left: 0;
top: 0
}

.gg-bolt::after {
border-top: 12px solid;
right: 0;
bottom: 0
}

/*==================================================================
   Helper classes
   ========================================================================== */



/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
