 <div class="panel panel--dark">
<span class="panel__sub ">Subscribe</span>
<h3 class="panel__title">Join our community!</h3>
<p>Subscribe to our newsletter for to hear about our latest projects.</p>
<div id="mc_embed_signup">
  <form
    action="https://bigstompyrobot.us20.list-manage.com/subscribe/post?u=f18cedf90e42f21a184db9ccf&amp;id=a30654b263"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    novalidate>
    <div class="form-group">
      <label for="mce-EMAIL">Email address </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="form-group">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
    <div id="mce-responses" class="clear foot">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
        name="b_f18cedf90e42f21a184db9ccf_a30654b263" tabindex="-1" value=""></div>
  </form>
</div>
</div>