---
layout: default
title: Comics
permalink: /comics/
---

<div class="grid-column-row">
  <h2 class="title">Our comic releases</h2>
  </div>

  
    {% for post in site.comics reversed %}
      {% if forloop.index0 % 3 == 0 %}
        <div class="content-list grid-column-row ">
      {% endif %}

      <div class="content-list__item grid-column-one-third">
        <a href="{{ post.url }}" class="">
          <h3 class="comic-list__title">{{ post.title }}</h3>
          <img src="{{ post.thumb }}" width="300" height="300" />
          <p>{{ post.blurb }}</p>
        </a>
      </div>

      {% assign remainder = forloop.index | modulo: 3 %}
      {% if remainder == 0 or forloop.last %}
    </div>
      {% endif %}
    {% endfor %}


