---
layout: default 
---

<div class="grid-row">
    <div class="grid-column-full">
        <h1>{{page.title}}</h1>
        <p>{{ page.date | date: "%B %d, %Y" }}</p>
    </div>
</div>
<div class="grid-row">
    <div class="grid-column-two-thirds">
        {{content}}
    </div>
    <div class="grid-column-one-third">
        <dl>
            <dt>Title:</dt>
            <dd>{{ page.title }}</dd>
            <dt>Released on:</dt>
            <dd>{{ page.date | date: "%B %d, %Y" }}</dd>
       
        </dl>
         

    </div>
</div>